/* Dracula Theme */
@define-color foreground rgb(248, 248, 242);
@define-color background rgb(40, 42, 54);
@define-color background-alpha rgba(40, 42, 54, 0.8);
@define-color primary #ffb1c2
@define-color current-line rgb(68, 71, 90);
@define-color comment rgb(98, 114, 164);
/* Apply font to entire notification */
.notification {
  border: 3px solid  #ffb1c2;
  color: #ffb1c2;
  border-radius: 12px;
  background-color: #551d2e;
  padding: 5px;
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
  font-size: 14px;
  margin: 15px;
}

.notification .notification-content {
  padding: 10px;
}
.widget-title {
  font-weight: bold;
  font-size: 20px;
  color: #ffb1c2;
}
.widget-dnd {
  color: #ffb1c2;
}
.control-center {
  background-color: #551d2e80;
  border-radius: 12px;                        /* rounded corners on panel */
  border: 3px solid #ffb1c2;
  padding: 15px;                              /* spacing inside the panel */
  margin: 15px;
  width: 400px !important;
  height: 300px !important;
  max-width: none !important;
  max-height: none !important;
}
.notification-group {
  background-color: transparent;
  outline: none;
}
